.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2c2c;
  min-height: 80vh;
}

.route-handling {
  font-family: 'Roboto';
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 435px) {
  .route-handling {
    text-align: center;
  }
}

.popular-container {
  padding: 2em;
}

.loader-style {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  border: 50%;
  background-color: #2c2c2c;
}

.loader-container {
  height: 100vh;
}
